<% site.categories.each(function(item){ %>
  <section>
    <md-subheader class="md-hue-1" ng-click="<%= item.name %> = !<%= item.name %>"><%= item.name %></md-subheader>
    <md-list>
      <% site.categories.findOne({name: item.name}).posts.sort('title', 1).each(function(post){ %>
        <a href="<%- url_for(post.path) %>" ng-show="!<%= item.name %>"<% if (url_for(post.path) == url_for(page.path)){ %>class="active"<% } %>>
          <md-list-item class="md-2-line" md-ink-ripple="#64ffda">
            <md-icon md-svg-icon="<%= post.icon %>" aria-label="{{item.title}}"></md-icon>
            <div class="md-list-item-text">
              <h3><%= post.title %></h3>
              <% if(post.excerpt) { %>
                <h4>
                  <%- post.excerpt %>
                </h4>
              <% } %>
            </div>
          </md-list-item>
        </a>
        <md-divider ng-show="!<%= item.name %>"></md-divider>
      <% }) %>
    </md-list>
  </section>
<% }); %>
